<web-app>
    <!--
    <listener>
    <listener-class>org.example.MyListener</listener-class>
    </listener> -->

    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- 디스패처 서블릿 등록 -->
        <!-- 애플리케이션 컨텍스트에 모든 Bean을 등록 -->
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContex</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLoaction</param-name>
            <param-value>org.example.WebConfig</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>/app/*</servlet-class>
    </servlet>

    <!-- 서블릿 생성해서 컨테이너에 등록해주는 방법-->
    <!-- 서블릿 등록 -->
    <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>org.example.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <!--ContextLoaderListener는 애플리케이션 컨텍스트(스프링 컨테이너)를 만들어 서블릿 컨텍스트에 등록하는 역할-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 애플리케이션 컨텍스트 등록 -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <!-- Java 설정 파일 위치 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>org.example.AppConfig</param-value>
    </context-param>
    <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>org.example.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <!-- 적용 서블릿 이름 (만약 여러 개의 서블릿에 적용할 시 url-pattern으로 설정한다.)-->
        <servlet-name>hello</servlet-name>
    </filter-mapping>
</web-app>