<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <jdbc:embedded-database id="dataSource">
        <jdbc:script location="classpath:BoardSchema.sql"></jdbc:script>
        <jdbc:script location="classpath:BoardData.sql"></jdbc:script>
    </jdbc:embedded-database>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- sqlSessionFactoryBean클래스 인스턴스 내의 속성들을 채운다. -->
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:sqlmap/config/mybatis-config.xml"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:sqlmap/sqlmap-board.xml</value>
            </list>
        </property>
    </bean>
</beans>
